.progressbar {
    background-color: #d1ebff;
    border-radius: 13px;
    padding: 3px;
    display: block;
    width: 300px;
}

.progressbar>div {
    background-color: #125488;
    height: 20px;
    border-radius: 10px;
    color: white;
    text-align: end;
}

@keyframes progressbar {
    from   {width: 0;}
    to {width: 100%;}
}

#animate {
    animation-name: progressbar;
    animation-duration: 10s;
}