
.carousel {
    display: grid;
    place-items: center;
    border-radius: 8px;
}

img {
    width: 100vw;
}

#slide1 {
    display: block;
}

#slide2 {
    display: none;
}

#slide3 {
    display: none;
}

.arrow {
    position: absolute;
    font-size: 100px;
    text-align: center;
    color: gray;
    -webkit-user-select: none;
        /* Safari */
    user-select: none;
        /* Standard syntax */
}

.slide:hover, .arrow:hover {
    cursor: pointer;
}

.arrow:hover {
    color: rgb(225, 225, 225);
}

#prev {
    left: 50px;
}

#next {
    right: 50px;
}